---
import PlotFigure from "../../components/PlotFigure.astro";
import Layout from "../../layouts/Layout.astro";
import * as Plot from "@observablehq/plot";
import penguins from "../../assets/penguins.json";
const species = [...new Set(penguins.map(p => p.species))];

---


<Layout/>
  <h1 class="text-3xl font-bold text-center mb-8">Liste des espèces de pingouins</h1>

  <ul class="max-w-md mx-auto bg-white rounded-2xl shadow-md p-6 space-y-4">
    {species.map((s) => (
      <li>
        <a 
          href={`/rendu-dynamique/${s}`} 
          class="block text-lg font-medium text-blue-600 hover:underline"
        >
          {s}
        </a>
      </li>
    ))}
  </ul>
