---
import cars from "../../assets/cars.json";
import Layout from "../../layouts/Layout.astro";

const brands = [...new Set(cars.map(c => c.brand))].sort();
---

<Layout/>
  <h1 class="text-3xl font-bold text-center mb-8">
    Liste des marques de voitures
  </h1>


 

  <ul class="max-w-md mx-auto bg-white rounded-2xl shadow-md p-6 space-y-4">
    {brands.map((b) => (
      <li>
        <a 
          href={`/rendu_statique_voiture/${b}`} 
          class="block text-lg font-medium text-black-600 hover:underline"
        >
          {b}
        </a>
      </li>
    ))}
  </ul>

  <script type="module">
    const select = document.getElementById('brandSelect');
    select.addEventListener('change', (e) => {
      const brand = e.target.value;
      if (brand) {
        window.location.href = `/rendu_statique_voiture/${brand}`;
      }
    });
  </script>

