---
import "../styles/global.css";

const pages  = [
  { name: "Accueil", href: "/"  },
  { name: "Pingouins", href: "/penguins"  },
  { name: "Rendu dynamique", href: "/rendu_dynamique" },
  { name: "Rendu statique", href: "/statique" },
];
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<nav style="padding: 1rem; background: #f0f0f0; display: flex; gap: 1rem;">
  {pages.map(page => (
    <a href={page.href} style="text-decoration: none; color: #333; font-weight: bold;">
      {page.name}
    </a>
  ))}
</nav>


<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
